@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

/*

.wd-color-purple {
  color: rgb(106, 90, 205);
}

.wd-background-purple {
  background-color: rgb(106, 90, 205);
}

a {
  color: rgb(106, 90, 205);
}

.wd-rounded-border {
  border: 4px solid rgb(106, 90, 205);
  border-radius: 40px;
}

.form-control:focus {
  border-color: rgb(106 90 205);
  box-shadow: 0 0 0 0.25rem rgb(106 90 205 / 25%);
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem rgb(106 90 205 / 25%);
}

.btn {
  background-color: rgb(106, 90, 205);
}

nav .navbar-nav li a {
  color: rgb(106, 90, 205);
}

*/
