@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250) !important;
}

.wd-green {
  color: rgb(20, 145, 155);
}

.wd-pink {
  color: rgb(218, 18, 125)
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  color: rgb(17, 121, 130) !important;
}

.form-check-input:focus {
  border-color: rgb(20, 145, 155) !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgb(20 145 155 / 25%) !important;
}

.form-check-input:checked {
  background-color: rgb(20, 145, 155) !important;
  border-color: rgb(20, 145, 155)!important;
}

.form-control:focus {
  border-color: rgb(20, 145, 155) !important;
  box-shadow: 0 0 0 0.25rem rgb(20 145 155 / 25%) !important;
}

.form-select:focus {
  border-color: rgb(20, 145, 155) !important;
  box-shadow: 0 0 0 0.25rem rgb(20 145 155 / 25%) !important;
}

.navbar {
  -webkit-box-shadow: 0 5px 6px -6px rgb(33, 37, 41) !important;
  -moz-box-shadow: 0 5px 6px -6px #999 !important;
  box-shadow: 0 5px 6px -6px #999 !important;
}

.wd-green-button {
  background-color: rgb(20, 145, 155) !important;
  border-color: rgb(20, 145, 155) !important;
  color: white !important;
}

.wd-green-button:hover {
  background-color: rgb(17, 121, 130) !important;
  color: white;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.wd-pink-button {
  background-color: rgb(218, 18, 125) !important;
  border-color: rgb(218, 18, 125) !important;
  color: white !important;
}

.wd-pink-button:hover {
  background-color: rgb(193, 16, 110) !important;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.wd-green-link {
  text-decoration: none !important;
  color: rgb(20, 145, 155) !important;
}

.wd-green-link:hover {
  color: rgb(17, 121, 130) !important;
}

/*.wd-white-link {*/
/*  text-decoration: none !important;*/
/*  color: white !important;*/
/*  z-index: 0;*/
/*}*/

/*.wd-green-link:hover {*/
/*  color: white !important;*/
/*}*/