@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(250, 250, 250)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-green {
  color: rgb(20, 145, 155);
}

.wd-pink {
  color: rgb(218, 18, 125)
}

a {
  text-decoration: none;
  color: rgb(20, 145, 155);
}

a:hover {
  color: rgb(17, 121, 130);
}


.btn, .btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: rgb(20, 145, 155) !important;
  border-color: rgb(20, 145, 155) !important;
}

.btn-primary:hover {
  background-color: rgb(17, 121, 130) !important;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.form-check-input:focus {
  border-color: rgb(20, 145, 155);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(20 145 155 / 25%)
}

.form-check-input:checked {
  background-color: rgb(20, 145, 155);
  border-color: rgb(20, 145, 155);
}

.form-control:focus {
  border-color: rgb(20, 145, 155);
  box-shadow: 0 0 0 0.25rem rgb(20 145 155 / 25%);
}

.navbar {
  -webkit-box-shadow: 0 5px 6px -6px rgb(33, 37, 41);
  -moz-box-shadow: 0 5px 6px -6px #999;
  box-shadow: 0 5px 6px -6px #999;
}
